.text-small {
  font-size: 0.875rem; }

.text-normal {
  font-size: 1rem; }

.text-big {
  font-size: 1.125rem; }

.text-header-huge {
  font-size: 2.375rem; }

.text-header-big {
  font-size: 1.75rem; }

.spacing .spacing-item:not(:first-child) {
  padding-top: 0.625rem; }
.spacing.is-big .spacing-item:not(:first-child) {
  padding-top: 1.875rem; }

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

html {
  font-family: "ProximaNovaSoft-Medium";
  width: 100%;
  max-height: 100%; }

html, button, input, textarea, label {
  font-size: 16px;
  line-height: 1.6; }

body {
  background: #dbe7f2;
  background: -webkit-gradient(linear, left top, right top, from(#dbe7f2), to(#f6e2ea));
  background: linear-gradient(to right, #dbe7f2, #f6e2ea);
  font-family: "ProximaNovaSoft-Medium";
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 16px;
  line-height: 1.6; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

i {
  text-decoration: underline; }

b,
strong {
  font-family: "ProximaNovaSoft-Bold"; }

.container {
  width: 75rem;
  margin: 0 auto; }
  @media (max-width: 47.99em) {
    .container {
      width: 100%;
      margin: 0; } }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

img.is-rounded {
  border-radius: 50%; }

.info {
  padding: 3.75rem 0; }
  .info.is-dark {
    background: #dbe7f2;
    background: -webkit-gradient(linear, left top, right top, from(#dbe7f2), to(#f6e2ea));
    background: linear-gradient(to right, #dbe7f2, #f6e2ea); }
  .info.is-light {
    background: #f0f6fd;
    background: -webkit-gradient(linear, left top, right top, from(#f0f6fd), to(#fef3f8));
    background: linear-gradient(to right, #f0f6fd, #fef3f8); }

.info__ul {
  font-family: "ProximaNovaSoft-Regular";
  list-style: initial;
  padding: 0.625rem 0 1.25rem 0;
  margin-left: 1.875rem; }

.info__li {
  padding: 0 0 0.3125rem 0.625rem; }

.section__header {
  position: relative; }
  .section__header:after {
    content: "";
    height: 3px;
    width: 50%;
    left: 0;
    bottom: -1px;
    position: absolute;
    background-color: #333; }

.section__title {
  font-size: 1.75rem;
  font-family: "ProximaNovaSoft-Bold";
  padding-bottom: 0.3125rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #ccc; }

.button {
  font-family: "ProximaNovaSoft-Bold";
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 0;
  border-radius: 0.375rem;
  width: 16.375rem;
  line-height: 1; }
  .button.is-blue {
    background-color: #77bce9; }
  .button.is-orange {
    background-color: #f29f8d; }
  .button.is-green {
    background-color: #60bfae; }
  .button:focus, .button.focus {
    outline: 0; }
  .button.disabled, .button:disabled {
    opacity: 0.65; }
  .button:active, .button.active {
    background-image: none; }

.collapsible {
  list-style-type: none; }

.collapsible__item {
  position: relative; }
  .collapsible__item:not(:first-child) {
    padding-top: 1.25rem;
    margin-top: 1.25rem;
    border-top: 1px solid #ccc; }

.collapsible__label {
  font-family: "ProximaNovaSoft-Bold";
  font-size: 1.125rem;
  padding-right: 2.5rem;
  display: block;
  width: 100%; }
  .collapsible__label:hover {
    cursor: pointer; }

.collapsible__input {
  display: none; }

.collapsible__input ~ .collapsible__content {
  font-size: 0.875rem;
  font-family: "ProximaNovaSoft-Regular";
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.collapsible__input:checked ~ .collapsible__content {
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
  padding: 1.25rem 0; }

.collapsible__input + label:after {
  -webkit-transform-origin: 25% 50%;
  transform-origin: 25% 50%;
  border: 0.375rem solid transparent;
  border-width: 0.375rem 0.625rem;
  border-left-color: #333;
  width: 0;
  height: 0;
  display: inline-block;
  text-align: center;
  content: "";
  position: absolute;
  right: 0;
  margin-top: -0.75rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.collapsible__input:checked + label:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.collapsible__pitanje {
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px dashed #ccc; }

.collapsible__odgovor {
  font-style: italic; }

#footer {
  background-color: #60bfae;
  padding: 0.625rem 0;
  color: #fff; }

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__icon {
  position: relative;
  top: 0.375rem;
  padding-right: 1.875rem; }

#header {
  position: relative; }
  #header:before, #header:after {
    background: rgba(255, 255, 255, 0.5);
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 6.25rem; }
  #header:before {
    left: -100%; }
  #header:after {
    left: 100%; }
  @media (max-width: 47.99em) {
    #header {
      height: auto; } }
  @media (max-width: 47.99em) {
    #header {
      background: #f0f6fd;
      background: -webkit-gradient(linear, left top, right top, from(#f0f6fd), to(#fef3f8));
      background: linear-gradient(to right, #f0f6fd, #fef3f8); } }

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 6.25rem; }
  @media (min-width: 48em) {
    #logo {
      background: rgba(255, 255, 255, 0.5); } }
  @media (max-width: 47.99em) {
    #logo {
      height: 4.375rem; } }

.logo {
  width: 10rem; }
  @media (max-width: 47.99em) {
    .logo {
      width: 7.5rem;
      margin: 0.25rem 0 0 1.25rem; } }

.logo_icon {
  width: 2rem; }

.icon.is-blue {
  color: #77bce9; }
.icon.is-green {
  color: #60bfae; }
.icon.is-yellow {
  color: #e6bd8a; }
.icon.is-orange {
  color: #f29f8d; }
.icon.is-pink {
  color: #f25e86; }
.icon.is-purple {
  color: #cd9ec4; }

.icon_is-rounded .icon_shape {
  border-radius: 50%;
  width: 7.8125rem;
  height: 7.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .icon_is-rounded .icon_shape.is-blue {
    background-color: #edf7fd; }
  .icon_is-rounded .icon_shape.is-green {
    background-color: #e7f6f3; }
  .icon_is-rounded .icon_shape.is-yellow {
    background-color: #fbf5ee; }
  .icon_is-rounded .icon_shape.is-orange {
    background-color: #fdf1ee; }
  .icon_is-rounded .icon_shape.is-purple {
    background-color: #f8f1f6; }
  .icon_is-rounded .icon_shape.is-pink {
    background-color: #fde7ed; }

.icon_mucanje,
.icon_kriznoRazdoblje,
.icon_samopomoc {
  width: 3.4375rem; }

.icon_roditelji {
  width: 5.5625rem; }

.icon_price {
  width: 2.8125rem; }

.icon_razno {
  width: 2.375rem; }

.icon_centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.icon_text {
  font-family: "ProximaNovaSoft-Bold";
  padding-top: 0.625rem;
  font-size: 1.3125rem;
  line-height: 1.4;
  display: block;
  text-align: center; }

.jumbotron {
  padding: 3.75rem 0; }
  @media (max-width: 47.99em) {
    .jumbotron {
      padding: 1.25rem; } }

.jumbotron_white {
  background-color: #fff; }

.jumbotron__title {
  font-size: 2.375rem;
  font-family: "ProximaNovaSoft-Bold"; }

.jumbotron__description {
  font-size: 1.125rem;
  padding: 1.25rem 0 3.75rem 0; }

@media (max-width: 47.99em) {
  .nav {
    display: none; } }

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin: 0; }
  @media (max-width: 47.99em) {
    .nav__ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      background-color: #60bfae;
      color: #fff; } }

.nav__item {
  list-style: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center; }
  @media (max-width: 47.99em) {
    .nav__item:not(:first-child) {
      border-top: 1px solid #7fcbbe; } }

.nav__link {
  font-size: 0.875rem;
  font-family: "ProximaNovaSoft-Bold";
  position: relative;
  display: block;
  line-height: 6.25rem;
  text-transform: uppercase; }
  @media (min-width: 48em) {
    .nav__link {
      background: rgba(255, 255, 255, 0.5); } }
  @media (max-width: 47.99em) {
    .nav__link {
      font-size: 1.125rem;
      line-height: 4.0625rem; } }
  .nav__link.has-sub:after {
    width: 0;
    height: 0;
    top: 50%;
    right: 0;
    -webkit-transform-origin: 25% 50%;
    transform-origin: 25% 50%;
    border: 0.375rem solid transparent;
    border-width: 0.3125rem 0.375rem;
    border-left-color: #333;
    display: block;
    text-align: center;
    content: "";
    position: absolute;
    margin-top: -0.3125rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  .nav__link.is-active.has-sub:after {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.nav__list-item__sub {
  display: none;
  background-color: #60bfae;
  margin: 0;
  padding: 1.25rem;
  list-style: none; }
  @media (min-width: 48em) {
    .nav__list-item__sub {
      position: absolute;
      min-width: 200px;
      z-index: 1; } }

.nav__list-item__sub__link {
  font-size: 0.875rem;
  font-family: "ProximaNovaSoft-Bold";
  text-align: left;
  display: block;
  padding: 0.625rem 0;
  color: #fff; }
  @media (max-width: 47.99em) {
    .nav__list-item__sub__link {
      color: #fff;
      opacity: 0.7;
      padding-left: 30px; } }
  @media (max-width: 47.99em) {
    .nav__list-item__sub__link:hover {
      opacity: 1; } }

.mobile-menu__wrapper {
  position: absolute;
  display: block;
  width: 28px;
  height: 22px;
  outline: none;
  right: 15px;
  top: 22px;
  pointer-events: auto; }
  @media (min-width: 48em) {
    .mobile-menu__wrapper {
      display: none; } }
  .mobile-menu__wrapper.is-active #mobile-nav-btn-1 {
    top: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .mobile-menu__wrapper.is-active #mobile-nav-btn-2 {
    -ms-filter: opacity(0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0; }
  .mobile-menu__wrapper.is-active #mobile-nav-btn-3 {
    top: 8px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.mobile-menu__menu {
  width: 28px; }

.mobile-menu__item {
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  border-top: 3px solid #333;
  margin-bottom: 3px;
  border-radius: 3px; }
  .mobile-menu__item.nav-line-animated {
    -webkit-transition: opacity 0.5s, background 0.5s, top 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, background 0.5s, top 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s, background 0.5s, top 0.5s;
    transition: transform 0.5s, opacity 0.5s, background 0.5s, top 0.5s, -webkit-transform 0.5s; }
  .mobile-menu__item#mobile-nav-btn-1 {
    top: 0; }
  .mobile-menu__item#mobile-nav-btn-2 {
    top: 9px; }
  .mobile-menu__item#mobile-nav-btn-3 {
    top: 18px; }
  .mobile-menu__item:last-child {
    margin-bottom: 0; }

.user__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.user__image,
.user__info {
  padding: 0 0.78125rem; }

.user__info {
  padding-right: 0; }

.user__image {
  padding-top: 3.125rem; }

.user__name {
  font-family: "ProximaNovaSoft-Bold";
  font-size: 1.3125rem;
  padding-bottom: 0.625rem; }

.user__description {
  font-size: 0.875rem;
  padding-bottom: 2.5rem; }
