.text-small {
  font-size: 0.875rem; }

.text-normal {
  font-size: 1rem; }

.text-big {
  font-size: 1.125rem; }

.text-bigger {
  font-size: 1.3125rem; }

.text-header-big {
  font-size: 1.75rem; }

.text-header-bigger {
  font-size: 2.0625rem; }

.text-header-huge {
  font-size: 2.375rem; }

.spacing__item:not(:first-child) {
  padding-top: 0.625rem; }
.spacing--big__item:not(:first-child) {
  padding-top: 1.875rem; }

@media (max-width: 47.99em) {
  .separator--until_tablet {
    padding: 0.625rem 0; }
    .separator--until_tablet--big {
      padding: 1.25rem 0; } }
@media (max-width: 61.99em) {
  .separator--until_desktop--big {
    padding: 1.25rem 0; } }
@media (max-width: 74.99em) {
  .separator--until_wide--big {
    padding: 1.25rem 0; } }

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.not_found {
  margin-top: 7.5rem; }
  @media (max-width: 47.99em) {
    .not_found {
      margin-top: 3.75rem; } }
  .not_found__text {
    font-size: 1.3125rem;
    margin-top: 3.75rem; }
    .not_found__text a {
      font-family: "ProximaNovaSoft-Bold";
      text-decoration: underline; }
  @media (max-width: 47.99em) {
    .not_found .icon__404 {
      width: 100%; } }

html * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

html {
  font-family: "ProximaNovaSoft-Medium";
  width: 100%;
  max-height: 100%; }

html, button, input, textarea, label {
  font-size: 16px;
  line-height: 1.6; }

body {
  background: #dbe7f2;
  background: -webkit-gradient(linear, left top, right top, from(#dbe7f2), to(#f6e2ea));
  background: linear-gradient(to right, #dbe7f2, #f6e2ea);
  font-family: "ProximaNovaSoft-Medium";
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 16px;
  line-height: 1.6; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

i {
  text-decoration: underline; }

b,
strong {
  font-family: "ProximaNovaSoft-Bold"; }

.content {
  background-color: #fff;
  padding: 7.5rem 0; }
  @media (max-width: 61.99em) {
    .content {
      padding: 3.75rem 0; } }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.text-center {
  text-align: center; }

img.is-rounded {
  border-radius: 50%; }

.pitanja_more {
  font-size: 0.875rem;
  display: inline-block; }

.pitanja_icon {
  width: 0.625rem; }

.pitanja_text {
  text-transform: uppercase; }

.youtube-video {
  overflow: hidden;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 1.25rem;
  position: relative; }
  .youtube-video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

.info {
  padding: 3.75rem 0; }
  @media (max-width: 47.99em) {
    .info {
      padding: 2.5rem 0; } }
  .info__ul {
    font-family: "ProximaNovaSoft-Regular";
    list-style: initial;
    padding: 0.625rem 0 1.25rem 0;
    margin-left: 1.875rem; }
  .info__li {
    padding: 0 0 0.3125rem 0.625rem; }
  .info--dark {
    background: #dbe7f2;
    background: -webkit-gradient(linear, left top, right top, from(#dbe7f2), to(#f6e2ea));
    background: linear-gradient(to right, #dbe7f2, #f6e2ea); }
  .info--light {
    background: #f0f6fd;
    background: -webkit-gradient(linear, left top, right top, from(#f0f6fd), to(#fef3f8));
    background: linear-gradient(to right, #f0f6fd, #fef3f8); }
  .info--short {
    background: #f8f4fa;
    background: -webkit-gradient(linear, left top, right top, from(#f8f4fa), to(#fbf4f9));
    background: linear-gradient(to right, #f8f4fa, #fbf4f9); }
  .info--small {
    padding: 1.25rem; }
  .info--no_space {
    padding: 0; }

.section__header {
  position: relative; }
  .section__header:after {
    content: "";
    height: 3px;
    width: 50%;
    left: 0;
    bottom: -1px;
    position: absolute;
    background-color: #333; }
.section__title {
  font-size: 1.75rem;
  line-height: 1.35;
  font-family: "ProximaNovaSoft-Bold";
  padding-bottom: 0.3125rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #ccc; }
  .section__title--big {
    font-size: 2.0625rem;
    padding-bottom: 1.25rem;
    margin-bottom: 3.75rem; }

.article__title {
  font-family: "ProximaNovaSoft-Bold";
  font-size: 1.75rem;
  line-height: 1.35;
  margin-bottom: 1.25rem;
  display: block; }
.article__body {
  position: relative; }
  .article__body ul {
    list-style-type: disc;
    margin-left: 1.875rem;
    margin-bottom: 1.875rem; }
    .article__body ul > li:not(:last-child) {
      margin-bottom: 0.625rem; }
  .article__body ol {
    list-style-type: decimal;
    margin-left: 1.875rem;
    margin-bottom: 1.875rem; }
    .article__body ol > li:not(:last-child) {
      margin-bottom: 0.625rem; }
  .article__body p:not(:last-child) {
    margin-bottom: 1.875rem; }
  .article__body h2 {
    font-family: "ProximaNovaSoft-Bold";
    font-size: 1.75rem;
    line-height: 1.35;
    margin: 1.25rem 0; }
    .article__body h2:first-of-type {
      margin-top: 0; }
  .article__body h3 {
    font-family: "ProximaNovaSoft-Bold";
    font-size: 1.3125rem;
    margin: 1.25rem 0; }
  .article__body a {
    font-family: "ProximaNovaSoft-Bold";
    text-decoration: underline; }
  .article__body em {
    font-style: italic; }
.article--list:not(:first-child) {
  padding-top: 1.875rem;
  margin-top: 1.875rem;
  border-top: 1px solid #ccc; }
.article--list__body p:not(:last-child) {
  margin-bottom: 1.875rem; }
.article--list__body ul {
  list-style-type: disc;
  margin-left: 1.875rem;
  margin-bottom: 1.875rem; }
  .article--list__body ul > li:not(:last-child) {
    margin-bottom: 1.25rem; }
.article--list__body ol {
  list-style-type: decimal;
  margin-left: 1.875rem;
  margin-bottom: 1.875rem; }
  .article--list__body ol > li:not(:last-child) {
    margin-bottom: 1.25rem; }
.article--list__body h2 {
  font-family: "ProximaNovaSoft-Bold";
  font-size: 1.75rem;
  line-height: 1.35;
  margin: 1.25rem 0; }
  .article--list__body h2:first-of-type {
    margin-top: 0; }
.article--list__body h3 {
  font-family: "ProximaNovaSoft-Bold";
  font-size: 1.3125rem;
  margin: 1.25rem 0; }
.article--list__body a {
  font-family: "ProximaNovaSoft-Bold";
  text-decoration: underline; }
.article--list__body em {
  font-style: italic; }

.button {
  font-family: "ProximaNovaSoft-Bold";
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 0;
  border-radius: 0.375rem;
  width: 16.375rem;
  line-height: 1; }
  .button--blue {
    background-color: #77bce9; }
    .button--blue:hover {
      background-color: #61b1e5; }
  .button--orange {
    background-color: #f29f8d; }
    .button--orange:hover {
      background-color: #ef8c76; }
  .button--green {
    background-color: #60bfae; }
    .button--green:hover {
      background-color: #4eb8a5; }
  .button--full_width {
    display: block;
    width: 100%; }
  .button:hover {
    cursor: pointer; }
  .button:focus, .button.focus {
    outline: 0; }
  .button.disabled, .button:disabled {
    opacity: 0.65; }
  .button:active, .button.active {
    background-image: none; }

.collapsible {
  list-style-type: none; }
  .collapsible__label {
    font-family: "ProximaNovaSoft-Bold";
    font-size: 1.125rem;
    padding-right: 2.5rem;
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #ccc;
    display: block;
    width: 100%;
    position: relative; }
    .collapsible__label--big {
      font-size: 1.3125rem; }
    .collapsible__label:hover {
      cursor: pointer; }
  .collapsible__input {
    display: none; }
  .collapsible__pitanje {
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px dashed #ccc; }
  .collapsible__odgovor {
    font-size: 0.875rem;
    font-style: italic; }
    .collapsible__odgovor--big {
      font-size: 1rem; }

.collapsible__input ~ .collapsible__content {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: "ProximaNovaSoft-Regular";
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden; }

.collapsible__input:checked ~ .collapsible__content {
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
  padding: 1.25rem 0; }

.collapsible__input + label:after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0.5rem;
  right: 0;
  -webkit-transform-origin: 25% 50%;
  transform-origin: 25% 50%;
  border: 0.375rem solid transparent;
  border-width: 0.375rem 0.625rem;
  border-left-color: #333;
  width: 0;
  height: 0;
  display: inline-block;
  text-align: center;
  content: "";
  position: absolute; }

.collapsible__input:checked + label:after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

#footer {
  background-color: #60bfae;
  padding: 0.625rem 0;
  color: #fff; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__icon {
    position: relative;
    top: 0.125rem;
    padding-right: 1.875rem; }
  .footer__social {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer__social__link {
      margin: 0 0.625rem; }
    .footer__social__icon {
      color: #fff; }

.form__section {
  padding: 0.625rem 0; }
  .form__section .wpcf7-not-valid-tip {
    font-size: 0.875rem;
    display: block;
    margin: 0.5rem 0 0 0.5rem; }
  .form__section .wpcf7-form-control-wrap {
    margin-top: 0.625rem;
    display: block; }
    .form__section .wpcf7-form-control-wrap > input {
      width: 100%;
      padding: 0.625rem 1.25rem;
      border: none;
      outline: none; }
      .form__section .wpcf7-form-control-wrap > input.wpcf7-not-valid {
        -webkit-box-shadow: inset 0px 0px 5px 0px #f29f8d;
        box-shadow: inset 0px 0px 5px 0px #f29f8d; }
.form__element {
  width: 100%;
  padding: 1.25rem;
  border: none;
  outline: none; }
  .form__element::-webkit-input-placeholder {
    opacity: 0.5; }
  .form__element:-ms-input-placeholder {
    opacity: 0.5; }
  .form__element::placeholder {
    opacity: 0.5; }
  .form__element.wpcf7-not-valid {
    -webkit-box-shadow: inset 0px 0px 5px 0px #f29f8d;
    box-shadow: inset 0px 0px 5px 0px #f29f8d; }

.wpcf7 .screen-reader-response {
  display: none; }

.wpcf7-validation-errors {
  font-family: "ProximaNovaSoft-Bold";
  display: block;
  margin-top: 1.25rem; }

@media (max-width: 74.99em) {
  #top-part > .container {
    width: 100%;
    padding: 0; } }

#header {
  position: relative; }
  #header:before, #header:after {
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 6.25rem; }
    @media (max-width: 74.99em) {
      #header:before, #header:after {
        display: none; } }
  #header:before {
    left: -100%; }
  #header:after {
    left: 100%; }
  @media (max-width: 47.99em) {
    #header {
      height: auto; } }
  @media (max-width: 47.99em) {
    #header {
      background: #f0f6fd;
      background: -webkit-gradient(linear, left top, right top, from(#f0f6fd), to(#fef3f8));
      background: linear-gradient(to right, #f0f6fd, #fef3f8); } }

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 6.25rem; }
  @media (min-width: 48em) {
    #logo {
      background-color: rgba(255, 255, 255, 0.5); } }
  @media (max-width: 47.99em) {
    #logo {
      height: 4.375rem; } }
  @media (min-width: 48em) and (max-width: 74.99em) {
    #logo {
      padding-left: 1.25rem; } }

.logo {
  margin-top: 0.375rem; }

.logo {
  width: 10rem; }
  @media (max-width: 47.99em) {
    .logo {
      width: 7.5rem;
      margin: 0.25rem 0 0 1.25rem; } }
  .logo__icon {
    width: 2rem; }

.icon__text {
  font-family: "ProximaNovaSoft-Bold";
  padding-top: 0.625rem;
  font-size: 1.3125rem;
  line-height: 1.4;
  display: block;
  text-align: center; }
.icon__transition {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.icon--blue {
  color: #77bce9; }
.icon--green {
  color: #60bfae; }
.icon--yellow {
  color: #e6bd8a; }
.icon--orange {
  color: #f29f8d; }
.icon--pink {
  color: #f25e86; }
.icon--purple {
  color: #cd9ec4; }
.icon--rounded__shape {
  border-radius: 50%;
  width: 7.8125rem;
  height: 7.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .icon--rounded__shape--blue {
    background-color: #edf7fd; }
  .icon--rounded__shape--green {
    background-color: #e7f6f3; }
  .icon--rounded__shape--yellow {
    background-color: #fbf5ee; }
  .icon--rounded__shape--orange {
    background-color: #fdf1ee; }
  .icon--rounded__shape--purple {
    background-color: #f8f1f6; }
  .icon--rounded__shape--pink {
    background-color: #fde7ed; }
.icon__mucanje {
  width: 3.4375rem; }
.icon__kriznoRazdoblje {
  width: 3.4375rem; }
.icon__samopomoc {
  width: 3.4375rem; }
.icon__roditelji {
  width: 5.5625rem; }
.icon__price {
  width: 2.8125rem; }
.icon__razno {
  width: 2.375rem; }
.icon__clock {
  width: 1.125rem; }
.icon__404 {
  width: 25rem; }
.icon__footer_twitter {
  width: 1.25rem; }
.icon__footer_facebook {
  width: 1.375rem; }
.icon--centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.social {
  position: absolute;
  left: -4.0625rem;
  top: 0.5rem; }
  .social__link {
    display: block;
    width: 2.8125rem;
    height: 2.8125rem;
    overflow: hidden; }
    .social__link:last-child {
      margin-top: 0.625rem; }
      @media (max-width: 61.99em) {
        .social__link:last-child {
          margin: 0 0 0 0.625rem; } }
    @media (max-width: 61.99em) {
      .social__link {
        display: inline-block; } }
  .social__wrapper {
    display: block;
    width: 2.8125rem;
    height: 2.8125rem; }
    .social__wrapper--fb {
      background-color: #3b5998; }
    .social__wrapper--tw {
      background-color: #1fa1f3; }
  .social__icon {
    color: #fff;
    width: 2.8125rem;
    height: 2.8125rem; }
    .social__icon--fb {
      width: 1.75rem;
      margin-left: 0.4375rem; }
    .social__icon--tw {
      width: 1.75rem;
      margin-left: 0.5rem; }
  .social__small_screen {
    font-family: "ProximaNovaSoft-Bold";
    margin-right: 0.625rem; }
    @media (min-width: 62em) {
      .social__small_screen {
        display: none; } }
  @media (max-width: 61.99em) {
    .social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      left: auto;
      top: auto;
      margin-bottom: 3.75rem; } }

.jumbotron .icon {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  @media (max-width: 74.99em) {
    .jumbotron .icon {
      padding: 1.25rem 0; } }
  .jumbotron .icon__hover {
    font-size: 0.8125rem;
    font-family: "ProximaNovaSoft-Bold";
    line-height: 1;
    position: relative;
    margin-top: 0.625rem;
    text-transform: uppercase;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: scale3d(0.8, 0.8, 1) translate3d(0, -10px, 0);
    transform: scale3d(0.8, 0.8, 1) translate3d(0, -10px, 0);
    opacity: 0;
    padding: 0.4rem 0.625rem;
    display: block;
    width: 100%;
    text-align: center; }
    .jumbotron .icon__hover:after, .jumbotron .icon__hover:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e6e6e6; }
    .jumbotron .icon__hover:after {
      bottom: 0; }
    .jumbotron .icon__hover:before {
      top: -3px; }
    @media (max-width: 47.99em) {
      .jumbotron .icon__hover {
        display: none; } }
.jumbotron__categories {
  margin-top: 3.75rem; }
  @media (max-width: 74.99em) {
    .jumbotron__categories {
      margin-top: 1.25rem; } }
  @media (max-width: 47.99em) {
    .jumbotron__categories {
      margin-top: 0; } }
.jumbotron__link {
  display: block;
  overflow: hidden; }
  .jumbotron__link:hover .icon__hover {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
    .jumbotron__link:hover .icon__hover:before, .jumbotron__link:hover .icon__hover:after {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1); }
  .jumbotron__link:hover .icon--rounded__shape--blue {
    background-color: #77bce9; }
    .jumbotron__link:hover .icon--rounded__shape--blue .icon__transition {
      color: #edf7fd; }
  .jumbotron__link:hover .icon--rounded__shape--green {
    background-color: #60bfae; }
    .jumbotron__link:hover .icon--rounded__shape--green .icon__transition {
      color: #e7f6f3; }
  .jumbotron__link:hover .icon--rounded__shape--yellow {
    background-color: #e6bd8a; }
    .jumbotron__link:hover .icon--rounded__shape--yellow .icon__transition {
      color: #fbf5ee; }
  .jumbotron__link:hover .icon--rounded__shape--orange {
    background-color: #f29f8d; }
    .jumbotron__link:hover .icon--rounded__shape--orange .icon__transition {
      color: #fdf1ee; }
  .jumbotron__link:hover .icon--rounded__shape--pink {
    background-color: #f25e86; }
    .jumbotron__link:hover .icon--rounded__shape--pink .icon__transition {
      color: #fde7ed; }
  .jumbotron__link:hover .icon--rounded__shape--purple {
    background-color: #cd9ec4; }
    .jumbotron__link:hover .icon--rounded__shape--purple .icon__transition {
      color: #f8f1f6; }
  @media (max-width: 61.99em) {
    .jumbotron__link {
      min-height: 17.5rem; } }
  @media (max-width: 47.99em) {
    .jumbotron__link {
      min-height: 14.6875rem; } }
.jumbotron__content {
  padding: 3.75rem 0 5rem 0;
  position: relative; }
  @media (max-width: 47.99em) {
    .jumbotron__content {
      padding: 1.875rem 0.625rem 1.875rem 0.625rem; } }
.jumbotron__title {
  font-size: 2.375rem;
  line-height: 1.25;
  font-family: "ProximaNovaSoft-Bold"; }
.jumbotron__description {
  font-size: 1.125rem;
  padding: 1.25rem 0; }
  .jumbotron__description > p:not(:last-child) {
    margin-bottom: 1.25rem; }
  .jumbotron__description a {
    font-family: "ProximaNovaSoft-Bold";
    text-decoration: underline; }
.jumbotron__icons {
  margin-top: 1.875rem; }
.jumbotron--white {
  background-color: #fff; }
.jumbotron--has_icon__content {
  padding-bottom: 5rem; }
.jumbotron--has_icon__icon {
  position: absolute;
  left: -1.25rem;
  bottom: -3.90625rem; }
  @media (max-width: 47.99em) {
    .jumbotron--has_icon__icon {
      left: 50%;
      margin-left: -3.90625rem; } }
.jumbotron--has_icon__description {
  padding: 1.25rem 0 3.75rem 0; }
.jumbotron--has_icon .icon {
  padding: 0; }

@media (max-width: 61.99em) {
  #top-part > .container {
    width: 100%; } }
@media (max-width: 47.99em) {
  #top-part {
    overflow: hidden; } }

@media (max-width: 47.99em) {
  .nav {
    display: none; } }
.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin: 0; }
  @media (max-width: 47.99em) {
    .nav__ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      background-color: #60bfae;
      color: #fff; } }
.nav__item {
  list-style: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center; }
  @media (max-width: 47.99em) {
    .nav__item:not(:first-child) {
      border-top: 1px solid #7fcbbe; } }
.nav__link {
  font-size: 0.875rem;
  font-family: "ProximaNovaSoft-Bold";
  position: relative;
  display: block;
  line-height: 6.25rem;
  text-transform: uppercase; }
  @media (min-width: 48em) {
    .nav__link {
      background-color: rgba(255, 255, 255, 0.5); } }
  .nav__link:hover {
    background: none; }
  .nav__link--has-sub:after {
    width: 0;
    height: 0;
    top: 50%;
    right: 0.625rem;
    -webkit-transform-origin: 25% 50%;
    transform-origin: 25% 50%;
    border: 0.375rem solid transparent;
    border-width: 0.3125rem 0.375rem;
    border-left-color: #333;
    display: block;
    text-align: center;
    content: "";
    position: absolute;
    margin-top: -0.3125rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
    @media (max-width: 47.99em) {
      .nav__link--has-sub:after {
        border-left-color: #fff;
        border-width: 0.4375rem 0.625rem;
        margin-top: -0.4375rem; } }
  .nav__link--has-sub--active {
    background-color: #60bfae;
    color: #fff; }
    .nav__link--has-sub--active:after {
      border-left-color: #fff;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    .nav__link--has-sub--active:hover {
      background-color: #60bfae; }
  .nav__link--active {
    background: none; }
  @media (max-width: 47.99em) {
    .nav__link {
      font-size: 1.125rem;
      line-height: 4.0625rem;
      text-align: left;
      padding-left: 1.25rem; } }
.nav__list-item__sub {
  display: none;
  background-color: #60bfae;
  margin: 0;
  padding: 1.25rem;
  list-style: none; }
  @media (min-width: 48em) {
    .nav__list-item__sub {
      position: absolute;
      min-width: 12.5rem;
      z-index: 1; } }
  @media (max-width: 47.99em) {
    .nav__list-item__sub {
      padding: 0.625rem 0;
      background-color: #8fc9be; } }
  .nav__list-item__sub__link {
    font-size: 0.875rem;
    font-family: "ProximaNovaSoft-Bold";
    text-align: left;
    display: block;
    padding: 0.625rem 0;
    color: #fff; }
    @media (max-width: 47.99em) {
      .nav__list-item__sub__link {
        font-size: 1.125rem;
        color: #fff;
        padding-left: 1.875rem; } }
    .nav__list-item__sub__link:hover {
      color: #333; }
    .nav__list-item__sub__link--active {
      color: #333; }

#mobile-nav-btn-1 {
  top: 0; }

#mobile-nav-btn-2 {
  top: 0.5625rem; }

#mobile-nav-btn-3 {
  top: 1.125rem; }

.mobile-menu__wrapper {
  position: absolute;
  display: block;
  width: 1.75rem;
  height: 4.375rem;
  outline: none;
  right: 0.9375rem;
  top: 0;
  pointer-events: auto;
  z-index: 99; }
  @media (min-width: 48em) {
    .mobile-menu__wrapper {
      display: none; } }
  .mobile-menu__wrapper--active #mobile-nav-btn-1 {
    top: 0.5rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .mobile-menu__wrapper--active #mobile-nav-btn-2 {
    -ms-filter: opacity(0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0; }
  .mobile-menu__wrapper--active #mobile-nav-btn-3 {
    top: 0.5rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.mobile-menu__menu {
  width: 1.75rem;
  position: relative;
  margin-top: 1.5rem; }
.mobile-menu__item {
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  border-top: 0.1875rem solid #333;
  margin-bottom: 0.1875rem;
  border-radius: 0.1875rem; }
  .mobile-menu__item.nav-line-animated {
    -webkit-transition: opacity 0.5s, background 0.5s, top 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, background 0.5s, top 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s, background 0.5s, top 0.5s;
    transition: transform 0.5s, opacity 0.5s, background 0.5s, top 0.5s, -webkit-transform 0.5s; }
  .mobile-menu__item:last-child {
    margin-bottom: 0; }

.user__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.user__image {
  padding: 0 0.78125rem;
  padding-top: 3.125rem; }
.user__info {
  padding: 0 0.78125rem;
  padding-right: 0; }
  @media (max-width: 47.99em) {
    .user__info {
      padding: 0; } }
.user__name {
  font-family: "ProximaNovaSoft-Bold";
  font-size: 1.3125rem;
  padding-bottom: 0.625rem; }
.user__description {
  font-size: 0.875rem;
  padding-bottom: 2.5rem; }

.reading_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .reading_time__icon {
    padding-right: 0.3125rem; }
    .reading_time__icon .icon {
      margin-top: 0.5rem; }
  .reading_time__time {
    font-size: 0.875rem; }
  .reading_time__bullet {
    font-size: 0.875rem;
    padding: 0 0.3125rem; }
  .reading_time__author {
    font-size: 0.875rem; }
  .reading_time__category {
    font-size: 0.875rem;
    font-family: "ProximaNovaSoft-Bold";
    text-decoration: underline; }
  .reading_time--single {
    margin-bottom: 1.25rem; }

.wp-pagenavi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 3.75rem;
  margin-top: 1.25rem;
  border-top: 1px solid #ccc; }
  .wp-pagenavi > * {
    padding: 0 0.625rem;
    min-width: 2.375rem;
    text-align: center;
    height: 2.375rem;
    line-height: 2.375rem;
    border: 1px solid #ccc;
    margin: 0 0.125rem; }
  .wp-pagenavi .page:hover,
  .wp-pagenavi .nextpostslink:hover,
  .wp-pagenavi .last:hover {
    border-color: transparent;
    background-color: #60bfae;
    color: #fff; }
  .wp-pagenavi .current {
    border-color: transparent;
    background-color: #60bfae;
    color: #fff; }
