$font-regular: 'ProximaNovaSoft-Regular'
$font-bold: 'ProximaNovaSoft-Bold'
$font-medium: 'ProximaNovaSoft-Medium'
$font-semibold: 'ProximaNovaSoft-Semibold'

// Fonts
=font-regular
  font-family: $font-regular

=font-bold
  font-family: $font-bold

=font-medium
  font-family: $font-medium

=font-semibold
  font-family: $font-semibold

// Text
=text-small
  font-size: px-to-rem(14px)

=text-normal
  font-size: px-to-rem(16px)

=text-big
  font-size: px-to-rem(18px)

=text-header-huge
  font-size: px-to-rem(38px)

=text-header-big
  font-size: px-to-rem(28px)
