// Screens
$mq-responsive: true
$mq-breakpoints: (mobile: 480px, tablet:  768px, desktop: 992px, wide: 1200px, desktopAd: 810px, mobileLandscape: 480px)

// Base
$base-px: 16px
$base-rem: 1rem
$base-em: 1em

$line-height: 1.6

// Header
$header-height: px-to-rem(100px)
$header-height-mobile: px-to-rem(70px)