.article
  // Default
  +bem-element('title')
    +font-bold
    +text-header-big
    margin-bottom: $spacing-large
    display: block

  +bem-element('body')
    p
      &:not(:last-child)
        margin-bottom: $spacing-large + $spacing-normal

  +mq($until: tablet)
    +spacing-mobile-vertical

  // List
  +bem-modifier('list')
    &:not(:first-child)
      padding-top: $spacing-large
      margin-top: $spacing-large
      border-top: 1px solid $color-grey-light

    +bem-element('body')
      p
        &:not(:last-child)
          margin-bottom: $spacing-large

      ol
        list-style-type: decimal
        margin-left: $spacing-large + $spacing-normal
        > li
          &:not(:last-child)
            margin-bottom: $spacing-large

      ul
        list-style-type: disc
        margin-left: $spacing-large + $spacing-normal
        > li
          margin-bottom: $spacing-large