.article
  // Default
  +bem-element('title')
    +font-bold
    +text-header-big
    margin-bottom: $spacing-large
    display: block

  +bem-element('body')
    +text-format-ul-small
    +text-format-ol-small
    +text-format-p

    h2
      +text-format-header-big

    h3
      +text-format-header-normal
  
    a
      +link-regular

    em
      font-style: italic

  +mq($until: tablet)
    +spacing-mobile-vertical

  // List
  +bem-modifier('list')
    &:not(:first-child)
      padding-top: $spacing-large + $spacing-normal
      margin-top: $spacing-large + $spacing-normal
      border-top: 1px solid $color-grey-light

    +bem-element('body')
      +text-format-p
      +text-format-ul
      +text-format-ol