.button
  +font-bold
  +text-normal
  display: inline-block
  text-align: center
  white-space: nowrap
  vertical-align: middle
  user-select: none
  border: none
  text-transform: uppercase
  color: $color-white
  padding: 1rem 0
  border-radius: px-to-rem(6px)
  width: px-to-rem(262px)
  line-height: 1

  &.is-blue
    background-color: $color-blue

  &.is-orange
    background-color: $color-orange

  &.is-green
    background-color: $color-green

  &:focus,
  &.focus
    outline: 0

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled
    opacity: .65

  &:active,
  &.active
    background-image: none