.collapsible 
  list-style-type: none 

  // Label
  +bem-element('label')
    +font-bold
    +text-big
    padding-right: $spacing-big + $spacing-normal
    padding-bottom: $spacing-large
    margin-bottom: $spacing-large
    border-bottom: 1px solid $color-grey-light
    display: block
    width: 100%
    position: relative

    // Big label
    +bem-modifier('big')
      +text-bigger

    &:hover
      cursor: pointer

  // Input
  +bem-element('input')
    display: none

  // Pitanje
  +bem-element('pitanje')
    padding-bottom: $spacing-large
    margin-bottom: $spacing-large
    border-bottom: 1px dashed $color-grey-light

  // Odgovor
  +bem-element('odgovor')
    +text-small
    font-style: italic

    +bem-modifier('big')
      +text-normal

.collapsible__input ~ .collapsible__content
  +transition-normal
  +font-regular
  max-height: 0
  max-width: 0
  opacity: 0
  overflow: hidden

.collapsible__input:checked ~ .collapsible__content
  max-height: 100%
  max-width: 100%
  opacity: 1
  padding: $spacing-large 0

.collapsible__input + label:after
  +transition-normal
  +transform-rotate-quarter
  top: .5rem
  right: 0
  transform-origin: 25% 50%
  border: $collapsible-arrow-height solid transparent
  border-width: $collapsible-arrow-height $collapsible-arrow-width
  border-left-color: $color-text
  width: 0
  height: 0
  display: inline-block
  text-align: center
  content: ''
  position: absolute

.collapsible__input:checked + label:after 
  +transform-rotate-quarter-negative
