.collapsible 
  list-style-type: none 

  // Item
  +bem-element('item')
    position: relative

    &:not(:first-child)
      padding-top: $spacing-large
      margin-top: $spacing-large
      border-top: 1px solid $color-grey-light

  // Label
  +bem-element('label')
    +font-bold
    +text-big
    padding-right: $spacing-big + $spacing-normal
    display: block
    width: 100%

    &:hover
      cursor: pointer

  // Input
  +bem-element('input')
    display: none

  // Pitanje
  +bem-element('pitanje')
    padding-bottom: $spacing-large
    margin-bottom: $spacing-large
    border-bottom: 1px dashed $color-grey-light

  // Odgovor
  +bem-element('odgovor')
    font-style: italic

.collapsible__input ~ .collapsible__content
  +text-small
  +font-regular
  max-height: 0
  max-width: 0
  opacity: 0
  overflow: hidden
  transition: all .2s ease

.collapsible__input:checked ~ .collapsible__content
  max-height: 100%
  max-width: 100%
  opacity: 1
  padding: $spacing-large 0

.collapsible__input + label:after
  transform-origin: 25% 50%
  border: .375rem solid transparent
  border-width: .375rem .625rem
  border-left-color: $color-text
  width: 0
  height: 0
  display: inline-block
  text-align: center
  content: ''
  position: absolute
  right: 0
  margin-top: -.75rem
  transition: all .2s ease

.collapsible__input:checked + label:after 
  transform: rotate(90deg)
