#footer
  background-color: $color-green
  padding: $spacing-normal 0
  color: $color-white

  +mq($until: tablet)
    +spacing-mobile-vertical

.footer
  +bem-element('items')
    display: flex
    align-items: center
  
  +bem-element('icon')
    position: relative
    top: .375rem
    padding-right: $spacing-big