#footer
  background-color: $color-green
  padding: $spacing-normal 0
  color: $color-white

.footer__items
  display: flex
  align-items: center

.footer__icon
  position: relative
  top: .375rem
  padding-right: $spacing-big