.logo
  width: px-to-rem(160px)

  +mq($until: tablet)
    width: px-to-rem(120px)
    margin: .25rem 0 0 $spacing-large

  +bem-element('icon')
    width: px-to-rem(32px)

.icon
  // General
  +bem-element('text')
    +font-bold
    padding-top: $spacing-normal
    font-size: 1.3125rem
    line-height: 1.4
    display: block
    text-align: center

  // Colors
  +bem-modifier('blue')
    color: $color-blue

  +bem-modifier('green')
    color: $color-green

  +bem-modifier('yellow')
    color: $color-yellow

  +bem-modifier('orange')
    color: $color-orange

  +bem-modifier('pink')
    color: $color-pink

  +bem-modifier('purple')
    color: $color-purple

  // Backgrounds
  +bem-modifier('rounded')
    +bem-element('shape')
      +circle
      width: $icon-width
      height: $icon-height
      display: flex
      justify-content: center

      +bem-modifier('blue')
        background-color: $color-blue-light
        
      +bem-modifier('green')
        background-color: $color-green-light

      +bem-modifier('yellow')
        background-color: $color-yellow-light

      +bem-modifier('orange')
        background-color: $color-orange-light

      +bem-modifier('purple')
        background-color: $color-purple-light

      +bem-modifier('pink')
        background-color: $color-pink-light

  // Types
  +bem-element('mucanje')
    width: px-to-rem(55px)

  +bem-element('kriznoRazdoblje')
    width: px-to-rem(55px)

  +bem-element('samopomoc')
    width: px-to-rem(55px)

  +bem-element('roditelji')
    width: px-to-rem(89px)

  +bem-element('price')
    width: px-to-rem(45px)

  +bem-element('razno')
    width: px-to-rem(38px)

  +bem-element('clock')
    width: px-to-rem(18px)

  // Alignments
  +bem-modifier('centered')
    display: flex
    align-items: center
    flex-direction: column