.jumbotron_white
  background-color: $color-white
  padding: $spacing-huge 0

.jumbotron__title
  +text-header-huge
  +font-bold

.jumbotron__description
  +text-big
  padding: $spacing-normal 0 $spacing-big 0