.jumbotron
  padding: $spacing-huge 0

  +bem-element('title')
    +text-header-huge
    +font-bold

  +bem-element('description')
    +text-big
    padding: $spacing-large 0 $spacing-huge 0

  +bem-modifier('white')
    background-color: $color-white

  +mq($until: tablet)
    padding: $spacing-large  