.nav
  +mq($until: tablet)
    display: none

  +bem-element('ul')
    display: flex
    align-items: center
    justify-content: center
    padding: 0
    margin: 0

    +mq($until: tablet)
      flex-direction: column
      align-items: stretch
      background-color: $color-green
      color: $color-white

  +bem-element('item')
    list-style: none
    flex-grow: 1
    text-align: center

    +mq($until: tablet)
      &:not(:first-child)
        border-top: 1px solid $color-grey-lightest
  
  +bem-element('link')
    +text-small
    +font-bold
    position: relative
    display: block
    line-height: $header-height
    text-transform: uppercase

    +mq($from: tablet)
      +background-opacity

    &:hover
      background: none

    +bem-modifier('has-sub')
      &:after
        width: 0
        height: 0
        top: 50%
        right: .625rem
        transform-origin: 25% 50%
        border: .375rem solid transparent
        border-width: $nav-arrow-height $nav-arrow-width
        border-left-color: $color-text
        display: block
        text-align: center
        content: ''
        position: absolute
        margin-top: -$nav-arrow-height
        transition: all .2s ease
        transform: rotate(90deg)

        +mq($until: tablet)
          border-left-color: $color-white
          border-width: $nav-arrow-height-mobile $nav-arrow-width-mobile
          margin-top: -$nav-arrow-height-mobile

      +bem-modifier('active')
        background-color: $color-green
        color: $color-white

        &:after
          border-left-color: $color-white
          transform: rotate(-90deg)

        &:hover
          background-color: $color-green

    +bem-modifier('active')
      background: none

    +mq($until: tablet)
      +text-big
      line-height: $nav-sub-item-height
      text-align: left
      padding-left: $spacing-large

  +bem-element('list-item')
    +bem-element('sub')
      display: none
      background-color: $color-green
      margin: 0
      padding: $spacing-large
      list-style: none

      +mq($from: tablet)
        position: absolute
        min-width: $nav-sub-item-min-width
        z-index: 1

      +mq($until: tablet)
        padding: $spacing-normal 0
        background-color: $color-green-subnav

      +bem-element('link')
        +text-small
        +font-bold
        text-align: left
        display: block
        padding: $spacing-normal 0
        color: $color-white

        +mq($from: tablet)
          // color: $color-regular
          // border-bottom: 1px solid darken($color-light, 8%)

        +mq($until: tablet)
          +text-big
          color: $color-white
          padding-left: $spacing-big

        &:hover
          color: $color-text

        +bem-modifier('active')
          color: $color-text

// Frontpage Navigation
// body.frontpage .nav
//   +bem-element('ul')
//     +mq($until: tablet)
//       background-color: $color-green
//       color: $color-white

// Rest Navigation

// Mobile menu
#mobile-nav-btn-1
  top: 0

#mobile-nav-btn-2
  top: $mobile-menu-middle-arrow-position

#mobile-nav-btn-3
  top: $mobile-menu-last-arrow-position

.mobile-menu
  +bem-element('wrapper')
    position: absolute
    display: block
    width: $mobile-menu-width
    height: $mobile-menu-height
    outline: none
    right: .9375rem
    top: 1.5rem
    pointer-events: auto
    z-index: 99

    +mq($from: tablet)
      display: none

    +bem-modifier('active')
      #mobile-nav-btn-1
        top: .5rem
        transform: rotate(45deg)

      #mobile-nav-btn-2
        -ms-filter: opacity(0)
        filter: alpha(opacity=0)
        -webkit-opacity: 0
        -moz-opacity: 0
        -o-opacity: 0
        opacity: 0

      #mobile-nav-btn-3
        top: .5rem
        transform: rotate(-45deg)

  +bem-element('menu')
    width: $mobile-menu-width

  +bem-element('item')
    position: absolute
    display: block
    width: 100%
    height: 0
    border-top: .1875rem solid $color-text
    margin-bottom: px-to-rem(3px)
    border-radius: px-to-rem(3px)
    
    &.nav-line-animated
      transition: transform .5s, opacity .5s, background .5s, top .5s

    &:last-child
      margin-bottom: 0