.user__item
  display: flex

.user__image,
.user__info
  padding: 0 $spacing-normal * 1.25

.user__info
  padding-right: 0

.user__image
  padding-top: $spacing-huge - $spacing-normal

.user__name
  +font-bold
  font-size: 1.3125rem
  padding-bottom: $spacing-normal

.user__description
  +text-small
  padding-bottom: $spacing-large